.jumbotron {
    padding: 10px;
}

#recentAnime {
    color: black;
}

.mediaList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

#recentAnime > h3 {
    text-decoration: underline;
    text-decoration-color: #ec3939;
}