.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;

    color: rgb(70, 68, 68);
    background-color: #e9ecef;

    overflow: hidden;
    margin: 5px;
    border-radius: .3rem;
}

.card {
    display: block;
    padding: 10px 10px 20px 10px;
}

.display {
    font-weight: 300;
}

.poster {
    width: 75%;
    height: auto;
}
.btn {
    text-decoration: none;
    background-color: #373A47;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

.btn:hover {
    color: black;
    background-color: #d7f442; 
}