.base {
    z-index: 100;
    top: 0;
    position: fixed;

    display: flex;
    align-items: center;

    margin: 0;

    width: 100%;
    height: auto;
    
    padding: 10px 0 15px 0;
    background-color: #373A47;
    color: white;
}

.center {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    width: 500px;
    position: relative;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  }

  form > * {
      border: 0;
      padding: 0 0 0 10px;
      background: #fff;
      font-size: 1rem;
      border-radius: 0;
      outline: 0;
  }

  label {
      color: black;
      padding: 10px 0 10px 10px;
  }
  
input {
    flex-basis: 100%;
}

button {
    color: #fff;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    background: #373A47;
  }
  
  button:hover {
    background-color: #d7f442;
    color: black;
  }
  
  @media all and (max-width:800px) {
        .center {
            margin-left: 100px;
        }
    }
    @media all and (max-width:650px) {
        form {
            width: 100%;
        }
    }
    @media all and (max-width:400px) {
        .center {
            width: 50%;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        button {
            flex-basis: 100%;
            padding: 5px;
        }

        label {
            display: none;
        }

        form > * {
            font-size: 0.9rem;
        }

        input {
            padding: 5px;
            flex-basis: 0;
        }
    }
